*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact_form_div_container
{
    display: flex;
    justify-content: center;
    background-color:#2c3e50;

    border-bottom: .8px solid rgb(220, 6, 248);
   height: 100vh;
    
}
.contact_form_div
{
   display: flex;
   flex-direction: row;
    max-width: 900px;
    height: fit-content;
    gap: 2rem;
    background-color: rgb(25, 25, 25);
    color:black;
    padding: 1.5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: -7px -7px 17px  #1b1b1b, 7px 7px 17px rgb(30, 29, 29);
    border: 1px solid plum;
    border-top: 2px solid #ef0a0a;
    border-bottom: 2px solid #ef0a0a;
    border-radius: .5rem;
    color: white;
}
.contact_form_title_section
{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.conatact_details_div
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    animation: slideRightForm  1.2s linear;
}
.contact_form_location_div_container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact_form_hero_section
{
    width: 50%;
    height: 100%;
    animation: slideLeftForm  1.2s linear;
}
.contact_form_hero_image_section
{
    display: flex;
    animation: moveUpAnimation 8s infinite alternate;

}
.contact_form_hero_image
{
   width: 100%;
   
}
.contact_form_location_image
{
    height: 1.5rem;
}
.contact_form_location_div
{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    /* justify-content: center; */
    align-items: center;
    padding-left: 2rem;
}
.contact_details_title_div
{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.contact_form_title_section
{
    padding-left: 2.5rem;
}
.input_fields
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
  
}
.Your_name
{
    width: 100%;
    min-width: 100px;
    padding: .8rem;
    border: none;
    box-shadow: -4px -4px 0px rgba(250, 4, 4, 0.993), 4px 4px 0px rgb(255, 137, 3);
    border-radius: .4rem;
    animation: boxColor2 6s infinite;
}
.form
{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height:100%;
}
.Your_Email
{
    width: 100%;
    min-width: 100px;
    padding: .8rem;
    border: none;
    box-shadow: -4px -4px 0px rgba(15, 15, 15, 0.993), 4px 4px 0px rgb(158, 158, 158);
    border-radius: .4rem;
    animation: boxColor2 6s infinite alternate;
}
.Your_phone
{
    width: 100%;
    min-width: 100px;
    padding: .8rem;
    border: none;
    box-shadow: -4px -4px 0px rgba(119, 251, 3, 0.993), 4px 4px 0px rgb(137, 3, 255);
    border-radius: .4rem;
    animation: boxColor2 6s infinite alternate;
}
.message
{
    width: 100%;
    min-width: 100px;
    padding: .8rem;
    border: none;
    box-shadow: -4px -4px 0px rgba(250, 4, 4, 0.993), 4px 4px 0px rgb(255, 137, 3);
    border-radius: .4rem;
    color: black;
    animation: boxColor2 6s infinite alternate;
}
.send_msg
{
    width: 100%;
    padding: 1rem;
    border:none;
    background-color: rgb(35, 34, 39);
    border-radius: .5rem;
    font-size: 1rem;
    color: white;
    box-shadow: -8px -8px 17px  rgba(241, 6, 241, 0.6), 7px 7px 17px rgb(172, 7, 7);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}
@media (max-width:504px) {
    .contact_form_div
    {
        display: flex;
        flex-direction: column;
    }
    .contact_form_hero_section
    {
        width: 100%;
    }
    .send_msg
    {
        margin-top: 1.6rem;
    }
    .contact_details_title_div
    {
        padding: 2rem;
    }
   
}
.contact_form_hero_image_section
{
    border: 1px solid rgb(241, 2, 2);
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 0px 10px 0px yellow 0px 0px 0px 2px sandybrown;
}